.score {
    position: relative;
    float: left;
    clear: both;
    padding: 0% 0% 15% 0%
}

.player-section {
    position: relative;
    float: left;
}

.player-item {
    padding: 17% 0%;
}

.player-info {
    padding: 7% 0%;
}

.player-name {
    /* padding: 7% 0%; */
}

.rename-player {
    padding: 0%
}

.help {
    position: relative;
    float: left;
    padding: 7% 10%
}