body {
    color: #333333;
    font-family: arial;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    cursor: pointer;
    border: 2px solid #000000;
    background: #16606d;
    color: white;
    padding: 4px;
    margin: 10px
}

.side-content {
    max-width: 250px;
    float: left;
}

.main-content {
    position: relative;
    max-width: 400px;
    float: left;
    margin: 100px
}

.dice-area {
    float: left;
}

.roll-button {
    position: relative;
    float: left;
}

.hold {
    position: relative;
    clear: both;
    padding: 5% 0%;
}

.score {
    position: relative;
    float: left;
    clear: both;
}

.player-section {
    position: relative;
    float: left;
}